@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

.bg-text-blue {
  background-color: #2f5597;
  color: #ffffff;
}